
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow all reads and writes to all collections.
    // WARNING: This is insecure and should only be used for initial development.
    // You MUST secure your database before deploying to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
